* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive, sans-serif;
    background-color: #313131;
    color: #fff;
    position: relative;
    min-height: 100vh;
}

.container {
    min-width: 300px;
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: #1d1d1d;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container h1 {
    font-size: 2.4rem;
    color: chartreuse;
}

.container button {
    width: 50%;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: .4rem 1rem;
    font-size: 1rem;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.container button:hover {
   background-color: #d1d1d1;
}